.game-tile {
  background-color: rgb(179, 241, 179);
  height: 100%;
  width: 100%;
  border: 1px dashed gray;
  border-radius: 0.1rem;

  &--clicked {
    background-color: rgb(131, 185, 247);
  }

  &--suspect {
    background-color: rgb(238, 194, 111);
  }

  &--bomb {
    background-color: rgb(214, 74, 74);
  }
}